:root {
	--color-body: #edf0f2;
	--color-left: white;
	--color-right: #efe8e9;
	--color-text: black;
	--color-blue: #3699ff;
}

* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

html {
	font-size: 15px;
}

body {
	background: var(--color-body);
	display: flex;
	flex-direction: column;
	gap: calc(10rem / 15);
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

body.dark-theme {
	--color-body: #151521;
	--color-left: hsl(205, 94%, 12%);
	--color-right: #1e1e2d;
	--color-text: white;
}

body,
.left,
.right {
	transition: background-color 0.3s ease;
}

h1,
h2,
h3,
a,
li,
p {
	color: var(--color-text);
	transition: color 0.3s ease;
}

svg {
	fill: var(--color-text);
	transition: all 0.3s ease;
}

img {
	transition: filter 0.3s ease;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer > a {
	padding: 0.3rem 0.1rem;
	cursor: pointer;
}

footer > a > img {
	height: 2rem;
	width: 2rem;
	object-fit: cover;
	filter: grayscale(1);
}

footer > a:hover > img {
	filter: grayscale(0);
}

footer > a.active > img {
	filter: grayscale(0);
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(20rem / 15);
	padding: 2rem;
	height: calc(555rem / 15);
	width: calc(350rem / 15);
	background-color: var(--color-left);
	border-radius: calc(10rem / 15) 0 0 calc(10rem / 15);
}

.left > img {
	border-radius: 50%;
	width: calc(250rem / 15);
	height: calc(250rem / 15);
}

body.dark-theme .left > img {
	filter: brightness(0.8) contrast(1.2);
}

.right {
	padding: 2rem;
	padding-left: 0;
	height: calc(555rem / 15);
	width: calc(500rem / 15);
	background-color: var(--color-right);
	border-radius: 0 calc(10rem / 15) calc(10rem / 15) 0;
}

.right > div {
	display: flex;
	flex-direction: column;
	gap: calc(10rem / 15);
	padding: calc(10rem / 15) calc(20rem / 15);
	border: calc(2.5rem / 15) solid var(--color-text);
	border-left: none;
	height: calc(100% - calc(25rem / 15));
	transition: border-color 0.3s ease;
}

.right > div > article {
	display: flex;
	flex-direction: column;
	gap: calc(10rem / 15);
}

.right > div > article > h1 {
	width: 10rem;
	font-size: 1.33rem;
	font-weight: bold;
	border-bottom: var(--color-text) solid calc(3rem / 15);
	transition: all 0.3s ease;
}

.right > div > article > section > h2 {
	font-size: 0.93rem;
}

.right > div > article > section > h3 {
	font-size: 0.87rem;
	font-weight: normal;
}

.right > div > article > section > ul {
	margin-left: 1rem;
	font-size: 0.87rem;
}

h1 {
	font-size: 2.5rem;
	font-weight: 400;
}

h2 {
	font-size: 1.15rem;
}

.left > .title {
	text-align: center;
}

.left > p {
	width: 35ch;
}

.social-link {
	display: flex;
	flex-direction: row;
	gap: calc(20rem / 15);
}

.social-link > a {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: calc(5rem / 15);
}

.social-link > a > svg {
	width: 2rem;
	height: 2rem;
}

.social-link > a:hover {
	color: var(--color-blue);
}

.social-link > a:hover > svg {
	fill: var(--color-blue);
}

.stack-list,
.tecnologies-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
	gap: calc(5rem / 15);
}

.stack-list {
	grid-auto-flow: column;
}

.stack-list,
.tecnologies-list > a {
	text-decoration: none;
}

.tecnologies-list > a > svg {
	width: 2.5rem;
	height: 2.5rem;
}

.stack-list > a > svg {
	width: 3rem;
	height: 3rem;
}

.stack-list > a:hover > svg,
.tecnologies-list > a:hover > svg {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

header > .switch {
	font-size: calc(17rem / 15);
	position: relative;
	display: inline-block;
	width: 3.7rem;
	height: 2.1rem;
}

header > .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

header > .switch > .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.3s;
	border-radius: 2rem;
}

header > .switch > .slider:before {
	position: absolute;
	content: '';
	height: 1.4rem;
	width: 1.4rem;
	border-radius: calc(20rem / 15);
	left: 0.3rem;
	bottom: 0.32rem;
	background-color: white;
	transition: 0.3s;
}

header > .switch > input:checked + .slider {
	background-color: var(--color-blue);
}

header > .switch > input:focus + .slider {
	box-shadow: 0 0 calc(1rem / 15) var(--color-blue);
}

header > .switch > input:checked + .slider:before {
	transform: translateX(1.5em);
}

@media (prefers-color-scheme: dark) {
	body {
		--color-body: #2c2f33;
		--color-left: #37474f;
		--color-right: #263238;
		--color-text: white;
	}

	body.light-theme {
		--color-body: #edf0f2;
		--color-left: white;
		--color-right: #efe8e9;
		--color-text: black;
	}

	.left > img {
		filter: brightness(0.85) contrast(1.2);
	}

	body.light-theme .left > img {
		filter: brightness(1) contrast(1);
	}
}

@media print {
	body {
		--color-body: #edf0f2;
		--color-left: white;
		--color-right: #efe8e9;
		--color-text: black;
	}

	.theme,
	.contact,
	footer {
		display: none;
	}
}

@media (max-height: 750px) {
	html {
		font-size: 12.8px;
	}

	body {
		height: 100%;
		padding: calc(10rem / 15) 0;
	}
}

@media (max-height: 625px) {
	html {
		font-size: 11.5px;
	}

	body {
		height: 100%;
		padding: calc(10rem / 15) 0;
	}
}

@media (max-width: 1000px) {
	body {
		height: 100%;
	}

	header {
		margin-top: calc(10rem / 15);
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	footer {
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	main {
		flex-direction: column;
	}

	.left,
	.right {
		width: unset;
		height: unset;
		padding: 2rem;
	}

	.left {
		border-radius: calc(10rem / 15) calc(10rem / 15) 0 0;
	}

	.right {
		border-radius: 0 0 calc(10rem / 15) calc(10rem / 15);
	}

	.right > div {
		padding: 0;
		border: none;
		text-align: center;
		max-width: 22rem;
	}

	.right > div > article > h1 {
		width: unset;
	}
}
