html {
    font-size: 15px;
}

* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .07px;
    text-align: left;
}

body {
    --color-body: #edf0f2;
    --color-left: white;
    --color-right: #efe8e9;
    --color-title: black;
    --color-text: black;
    --color-border: black;
    --color-orange: #ff9c35;
    --color-blue: #3699ff;
    --deg-theme: 0deg;
}

body.dark-theme {
    --color-body: #151521;
    --color-left: hsl(205, 94%, 12%);
    --color-right: #1e1e2d;
    --color-text: white;
    --color-title: var(--color-blue);
    --color-text: white;
    --color-border: black;
    --toggle-theme-left: 1.83rem;
    --deg-theme: 180deg;
}

body.dark-theme .info>img {
    filter: brightness(0.8) contrast(1.2);
}

body {
    padding: 6.67rem;
    width: 56.67rem;
    height: 45.1rem;
    margin: 0 auto;
    background-color: var(--color-body);
    color: var(--color-text);
}

a {
    text-decoration: none;
}

article {
    text-align: center;
    padding: 0 3.33rem;
}

h1 {
    font-family: 'Comfortaa', cursive;
    letter-spacing: -.07rem;
    color: var(--color-title);
}

footer {
    height: 3rem;
    width: 100%;
    display: inline-block;
}

div>article>h1 {
    padding-bottom: .67rem;
    width: 10rem;
    font-size: 1.33rem;
    font-weight: bold;
    border-bottom: var(--color-text) solid 2px;
}

div>article>section>h2 {
    font-size: .93rem;
}

div>article>section>h3 {
    font-size: .87rem;
    font-weight: normal;
}

div>article>section>ul {
    font-size: .87rem;
}

div>article>section>ul>a>svg {
    margin: .27rem;
    width: 2rem;
    transition-duration: .1s;
}

div>article>section>ul>a:hover>svg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

div>article>section>ul>a>svg>g {
    fill: var(--color-text);
}

.p-0 {
    padding: 0rem;
}

.theme {
    display: block;
    width: 100%;
    height: 1.76rem;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
}

.theme>button {
    border: none;
    background-color: transparent;
}

.theme>button>svg {
    cursor: pointer;
    width: 1.66rem;
    transition: .1s;
    transform: rotate(var(--deg-theme));
}

.theme>button>svg>g {
    fill: var(--color-text);
}

.left {
    float: left;
    width: 40%;
    height: 100%;
    background-color: var(--color-left);
}

.left>article {
    padding: 0 2.67rem;
}

.right {
    float: right;
    width: 60%;
    height: 100%;
    background-color: var(--color-right);
}

.info img {
    border-radius: 50%;
    margin-top: 1rem;
    width: 16.67rem;
}

.info>h1 {
    font-size: 2.42rem;
    margin: 1rem 0 0 0;
}

.info>h2 {
    font-size: 1.13rem;
    font-weight: normal;
    margin: 0;
}

.info>p {
    margin: 1rem 0 0 0;
    font-size: 1rem;
}

.info>ul {
    font-size: .87rem;
    list-style: none;
    padding: .66rem;
    border-left: var(--color-text) solid .16rem;
}

.info>ul>li {
    margin: .1rem 0 0 0;
}

.contact {
    margin: 1.5rem 0 0 0;
    display: flex;
    gap: 1rem;
    margin-inline-start: 2rem;
}

.contact>a {
    color: var(--color-text);
}

.contact>a:hover {
    color: var(--color-blue);
}

.contact>a>svg {
    height: 1.5rem;
    vertical-align: middle;
    transition: .1s;
}

.contact>a>svg>g {
    fill: var(--color-text);
}

.contact>a:hover>svg>g {
    fill: var(--color-blue)
}


.right>div {
    margin: 2rem 2rem 2rem 0;
    border-top: .13rem solid var(--color-text);
    border-right: .13rem solid var(--color-text);
    border-bottom: .13rem solid var(--color-text);
}

.flag {
    float: right;
    padding: .3rem .1rem;
}

.flag>img {
    height: 1.66rem;
    width: 1.66rem;
    object-fit: cover;
    filter: grayscale(1)
}

.flag:hover>img {
    filter: grayscale(0)
}

.flag-active>img {
    filter: grayscale(0)
}

@media (prefers-color-scheme: dark) {

    body {
        --color-body: #2c2f33;
        --color-left: #37474F;
        --color-right: #263238;
        --color-title: #3699ff;
        --color-text: white;
        --deg-theme: 180deg;
    }

    body.light-theme {
        --color-body: #edf0f2;
        --color-left: white;
        --color-right: #efe8e9;
        --color-title: black;
        --color-text: black;
        --deg-theme: 0deg;
    }

    .info>img {
        filter: brightness(0.8) contrast(1.2);
    }

    body.light-theme .info>img {
        filter: brightness(1) contrast(1);
    }

}

@media print {

    body {
        --color-body: #edf0f2;
        --color-left: white;
        --color-right: #efe8e9;
        --color-title: black;
        --color-text: black;
        --color-border: black;
    }

    .theme, .contact, footer {
        display: none;
    }

}